
      <div class="contact-card">
        <form class="form" novalidate (ngSubmit)="sendMessage(myForm)" #myForm ="ngForm">
          <div class="form__row">
            <div class="form__group">
              <label class="form__label form__label--required" for="contact-name">Your name</label>
              <input
                class="form__input"
                type="text"
                id="contact-name"
                name="name"
                required
                autocomplete="name"
                [(ngModel)]="contact.name"
              />
            </div>
            <div class="form__group">
              <label class="form__label form__label--required" for="contact-email-input"
                >Your email</label
              >
              <input
                class="form__input"
                type="email"
                id="contact-email-input"
                name="email"
                required
                autocomplete="email"
                [(ngModel)]="contact.email"
              />
            </div>
          </div>
          <div class="form__group">
            <label class="form__label form__label--required" for="contact-message">Message</label>
            <textarea
              class="form__textarea"
              id="contact-message"
              name="message"
              required
              [(ngModel)]="contact.message"
            ></textarea>
          </div>
          <div class="form__group">
            <button type="submit" class="btn btn--primary">Send message</button>
            <p class="form__status">{{ contactStatus }}</p>
          </div>
        </form>
      </div>
